.allimage{
    margin: auto;
    min-height: 100vh;
    background: linear-gradient(
        135deg,
        #8052ec,
        #d161ff
    );
    padding: 15px;
}
.containerprofile{
    margin: auto;
    background-color: #ffffff;
    width: 50%;
    width: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    border: 1px solid red;
    height: auto;
}
.image-container{
    margin: auto;
    position: relative;
    width: 100%;
}
.imgclass{
    margin: auto;
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: none;
}

@media (max-width: 550px){
    .containerprofile{
        width: 90%;
    }
    .imgclass{
        height: 300px;
        width: 100%;
    }
}
.active{
    display: block;
}
.dot-container{
    width: 150px;
    margin: 20px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
button{
    outline: none;
    cursor: pointer;
}
.dot-container button{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 3px solid #8052ec;
    background-color: transparent;
}
.dot-container button:nth-child(1){
    background-color: #8052ec;
}
#prev,#next{
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: #8052ec;
    color: #ffffff;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bolder;
}
#prev{
    left: 15px;
}
#next{
    right: 15px;
}
.items{
    color:#8052ec;
    display: none;
}